.stu-degn{
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    color: white
 }
 body{
    background-image: 
    url("https://designhaaus.com/projects/kl-university/1200X900-02.jpg");
 }